In [2]:
import pandas as pd
import numpy as np
import requests
import string
from bs4 import BeautifulSoup
import re

### NCAA player data

I created a python script called ncaa_crawler that will generate a dataframe for all college basketball players' stats. The function used within the ncaa_crawler object is called "generate_player_df". The parameter is any lower-case letter and it'll generate a stats dataframe for all individuals that have a last name that starts with that letter. I developed this using BeautifulSoup which scrape data by extracting HTML patterns.

Using that function below to generate dataframes for every letter of the alphabet. Doing this in sections as I'm concerned that doing a loop to iterate through the letters of the alphabet may break the kernel and would have to restart.

The code below takes a really long time to run. Please do not run it if you do not want your kernel to get stuck for hours. I saved the csv's into the scraped_data folder so that we wouldn't need to wait for this to run again.

In [ ]:
from ncaa_player import ncaa_crawler

In [ ]:
for letter in string.ascii_lowercase:
    df = ncaa_crawler.generate_player_df('{}'.format(letter))
    df.to_csv('scraped_data/ncaa_player_stats/{}_ncaa.csv'.format(letter), index=False)

### Load into dataframe

Once all the scraping is done, performing some initial data cleaning before putting into PostGres database.

In [ ]:
sample_df = pd.read_csv('scraped_data/ncaa_player_stats/b_ncaa.csv'.format(letter))
sample_df.head()

In [ ]:
df = pd.DataFrame()
for letter in string.ascii_lowercase:
    df = pd.concat([df, pd.read_csv('scraped_data/ncaa_player_stats/{}_ncaa.csv'.format(letter))], axis=0, join='outer')

In [ ]:
df.sample(10)

In [ ]:
df.shape

In [ ]:
a_df = pd.read_csv('scraped_data/a_ncaa.csv')

In [ ]:
a_df.shape

In [ ]:
pd.concat([df,a_df],axis=0,join='outer')

### NBA player data

Using Python script to scrape all the player stats for NBA players.

In [ ]:
from nba_player import nba_crawler

In [ ]:
for letter in string.ascii_lowercase:
    if letter != 'x':
        nba_df = nba_crawler.generate_nba_player_df('{}'.format(letter))
        nba_df.to_csv('scraped_data/nba_player_stats/all_{}_nba_players.csv'.format(letter), index=False)
    else:
        pass

### 2016 NBA player data

Using Python script to scrape all the player stats for NBA players only for the 2016 season.

In [ ]:
from nba_player import nba_2016_crawler

In [ ]:
for letter in string.ascii_lowercase:
    if letter != 'x':
        nba_2016_df = nba_2016_crawler.generate_2016_nba_player_df('{}'.format(letter))
        nba_2016_df.to_csv('scraped_data/nba_player_stats/current_{}_nba_players.csv'.format(letter), index=False)
    else:
        pass

In [8]:
salary = pd.read_csv('scraped_data/nba_salaries/nba_salary_cap_history.csv')
salary.head()

      year  salary_cap  salary_cap_2015_worth
0  1984-85     3600000              7934034.0
1  1985-86     4233000              9153509.0
2  1986-87     4945000             10317292.0
3  1987-88     6164000             12354015.0
4  1988-89     7232000             13829137.0

In [9]:
nba_sal = pd.read_csv('scraped_data/nba_salaries/salaries_current.csv')
nba_sal.head()

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Player,Team,2017-18,2018-19,2019-20,2020-21,2021-22,2022-23,Signed Using,Guaranteed
0,LeBron James,CLE,"$33,285,709","$35,607,968",NaN,NaN,NaN,NaN,Early Bird,"$33,285,709"
1,Kevin Love,CLE,"$22,642,350","$24,119,025","$25,595,700",NaN,NaN,NaN,Bird Rights,"$46,761,375"
2,Tristan Thompson,CLE,"$16,400,000","$17,469,565","$18,539,130",NaN,NaN,NaN,Bird Rights,"$52,408,695"
3,J.R. Smith,CLE,"$13,760,000","$14,720,000","$15,680,000",NaN,NaN,NaN,Bird Rights,"$32,350,000"
4,Iman Shumpert,CLE,"$10,337,079","$11,011,234",NaN,NaN,NaN,NaN,Bird Rights,"$10,337,079"